body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.navbar-text a{
  text-decoration: none;
  color: rgb(20, 51, 51)!important;
}
.product{
  margin-right: 5px;
}
.cartcount{
  top: -9px;
    right: 8px;
    position: relative;
    color:hotpink;
}
.mobilefilter svg{
  font-size: 25px;
}
@media screen and (max-width:768px) {
  .sidebar{
    display: none;
  }
  .mobilefilter{
    display: block;
  }
}
@media screen and (min-width:1200px) {
  .mobilefilter{
    display: none;
  }
}
